html {
  font-family: Helvetica;
}
.header {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center, horizontal;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  opactty: 1;
  background-size: auto;
}

h3  {
  font-weight: bold;
}

#brushes {
  color: white;
  font-size: 32px;
  font-weight: bold;
  background-color: mediumspringgreen;
}
.hacksaw, .art, .finnish {
  font-weight: bold;
  color: blue;
}

#frames {
  color: white;
  font-size: 32px;
  font-weight: bold;
  background-color: lightcoral;
}

#paint {
  color: white;
  font-size: 32px;
  font-weight: bold;
  background-color: skyblue;
}
